NODE_ENV=development
PORT=3000
LOG_LEVEL=debug
MONGO_URI=mongodb://username:yourpassword@localhost:27017/central_bank?authSource=admin
SALT_ROUNDS=12
SESSION_SECRET=yoursessionsecret
SESSION_MAX_AGE=86400000